.product-savings {
    align-items: center;
    background: #edf3fd;
    border-radius: 10px;
    display: flex;
    padding: 12px 16px 12px 16px;

    &__icon {
        min-width: 24px;
        width: 24px;
    }
    &__description {
        color: theme("colors.black");

        font-family: theme("fontFamily.body");
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        padding-left: 16px;

        &--accent {
            color: #2c7ef8;
        }
    }
}

@media screen(lg) {
    .product-savings {
        &__icon {
            min-width: 32px;
            width: 32px;
        }
        &__description {
            font-size: 16px;
        }
    }
}
