.product-shipping {
    align-items: center;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    color: #4d5254;

    display: flex;
    flex-direction: column;
    font-family: theme("fontFamily.body");
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    gap: 12px;
    justify-content: center;
    line-height: 140%; /* 16.8px */
    margin-top: 12px;
    padding: 8px 16px;
    text-transform: capitalize;

    &__info {
        align-items: center;

        display: flex;
        gap: 12px;
        justify-content: center;
        width: 100%;
    }

    &__description {
        align-items: center;
        border-right: 1px solid #cfcfcf;
        display: flex;
        gap: 8px;
        padding-right: 12px;

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
    &__vline {
        background: #cfcfcf;
        height: 14px;
        width: 1px;
    }
    &__line {
        background: #cfcfcf;
        height: 1px;
        width: 100%;
    }
    &__brands {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__brand-img {
        margin-right: 5px;
    }
}

@media screen(xl) {
    .product-shipping {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        gap: 16px;
        justify-content: center;
        padding: 8px 0px;

        &__info {
            border-right: 1px solid #cfcfcf;
            width: auto;
        }
        &__description {
            padding-right: 16px;
            &:last-child {
                padding-right: 16px;
            }
        }
        &__line {
            display: none;
        }
        &__brands {
            width: auto;
        }
    }
}
