.product-info {
    /* &__title-mobile {
        color: theme("colors.black");
        font-family: theme("fontFamily.body");
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        padding-bottom: 24px;
        text-align: center;
        text-transform: capitalize;

        &--accent {
            color: #2c7ef8;
        }
    } */

    &__title {
        color: theme("colors.black");
        display: none;
        font-family: theme("fontFamily.body");
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 44.8px */
        margin-top: -10px;
        text-transform: capitalize;

        &--accent {
            color: #2c7ef8;
        }
    }
}

@media screen(lg) {
    .product-info {
        /* &__title-mobile {
            display: none;
        } */
        &__title {
            display: block;
            font-size: 32px;
        }
    }
}
