.navmenu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    &__logo-img {
        width: 106.67px;
    }

    &__sponsors-img {
        width: 101px;
    }
}

@media screen(lg) {
    .navmenu {
        padding: 30px 0 30px 0;
        &__logo-img {
            width: auto;
        }

        &__sponsors-img {
            width: auto;
        }
    }
}
