.product-card {
    font-family: theme("fontFamily.body");
    padding: 15px;

    &:hover {
        border-radius: 10px;
        box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
        transition: all 0.15s ease-in-out;
        z-index: 10;
    }
    &__link {
        text-decoration: none;
    }
    &__title {
        font-size: theme("fontSize.sm");
        font-weight: theme("fontWeight.normal");
        margin-top: theme("spacing.2");
    }
    &__price {
        color: theme("colors.sky.600");
        font-size: theme("fontSize.base");
        font-weight: theme("fontWeight.normal");
    }
}
