.title-section {
    text-align: center;

    &__title {
        color: theme("colors.black");
        font-family: theme("fontFamily.body");
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 45px;
        margin-bottom: 24px;
        text-align: center;
    }
    &__subtitle {
        color: theme("colors.grayText");
        font-family: theme("fontFamily.body");
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 22px;
        text-align: center;
    }
}

@media screen(lg) {
    .title-section {
        text-align: center;

        &__title {
            font-size: 48px;
            font-weight: 400;
            letter-spacing: 0em;
            line-height: 48px;
        }
        &__subtitle {
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0em;
            line-height: 24px;
        }
    }
}
