.uppermenu {
    background-color: #252f3d;
    padding: 10px 0 10px 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        margin-right: 8px;
    }
    &__items {
        display: flex;
        flex-flow: column;
    }
    &__item {
        align-items: center;
        color: theme("colors.white");
        display: none;
        font-family: theme("fontFamily.body");
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0em;
        line-height: 12px;
        text-align: left;
        text-align: center;
        text-transform: uppercase;
        &--active {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen(lg) {
    .uppermenu {
        padding: 14px 0 14px 0;
        &__items {
            display: flex;
            flex-flow: row;
            flex-grow: 1;
            justify-content: space-between;
        }
        &__item {
            display: flex;
        }
        &__arrow {
            display: none;
        }
    }
}
